@model RentNChillMovies.Models.Rental

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RentalDateStart" class="control-label"></label>
                <input asp-for="RentalDateStart" class="form-control" />
                <span asp-validation-for="RentalDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalDateEnd" class="control-label"></label>
                <input asp-for="RentalDateEnd" class="form-control" />
                <span asp-validation-for="RentalDateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalAmount" class="control-label"></label>
                <input asp-for="RentalAmount" class="form-control" />
                <span asp-validation-for="RentalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
